@import '../../styles/variables';

.Preloader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  &--full-height {
    height: 100vh;
  }
}
