@import '../../styles/variables';
@import '../../styles/typography';

.Header {
  position: relative;
  z-index: 1;
  padding: 2rem;
  text-align: center;
  background-color: $greyBackground;
  box-shadow: 0 1px 0 0 #ddd;

  @include title;
}